Body {
  background-color: lightgray;
  color: black;
  font-family: "Verdana";
}
h1 {
  color: darkblue;
  font-family: cursive;
}
h3 {
  font-family:Courier;
  color: #F5F5F5;
}
.first {
  background-color: #999999;
  border: 3px solid #6B6B6B;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  text-align: left;
}
.second {
  background-color: #999999;
  border: 3px solid #6B6B6B;
  border-radius: 10px;
  height: 150px;
  width: 100px;
  text-align: left;
}
ul {
  color: darkblue;
}
a {
  color: #5B59BA;
  text-decoration: none;
}
img {
  border: 5px solid black;
}
.standout {
  color: #65909A;
}
