Body {
  background-color: lightgray;
  color: black;
  font-family: "Verdana";
}
h1 {
  color: darkblue;
  font-family: cursive;
}
h3 {
  font-family: cursive;
  color: #F5F5F5;
}
.first {
  background-color: #9BC4E2;
  border: 3px solid #6B6B6B;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  text-align: left;
  margin: auto;
}
.second {
  background-color: #9BC4E2;
  border: 3px solid #6B6B6B;
  border-radius: 10px;
  height: 60px;
  width: 100px;
  text-align: left;
}
ul {
  color: darkblue;
}
a {
  color: #5B59BA;
  text-decoration: none;
}
a:hover {
  color: #003F87;
}
a:visited {
  color: #22316C
}
img {
  border: 3px solid black;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin: auto;
}
.standout {
  color: #00688B;
}
div {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
