Body {
  background-color: lightgray;
  color: black;
  font-family: "Verdana";
}
h1 {
  color: darkblue;
  font-family: cursive;
}
h3 {
  color: #26466D;
}
div {
  background-color: #5D7B93;
}
ul {
  color: purple;
}
